{%extends 'base.html' %}
{%load static%}
{% load customfilter %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}


{%block content%}
        <img src="{% static 'images/main.png' %}" alt="" class='back_img'>

<div class="index">
    {% if user %}
    <p>현재 접속자 : {{user}}</p>
    {% endif %}


    <h5>내 구독 리스트</h5> 완료한 task : {{complete_task}} | 오늘의 task : {{total_task}}
</div>

<form method="post" action="{% url 'task_managing'%}">
    {%csrf_token%}

     for my_task in all_my_task %}


       
            <div class="main_row">

            
                {%if my_task.task.detailtasklist_set.all %}
                   <span> {{my_task|dayTask}}</span>
                {%else%}
                    <span>{{my_task.task}}</span>
                {%endif%}
                <button type="submit" name="checking_task" value="{{my_task.id}}"> 했어요!! </button>
                    
            </div>
       
        {%endfor%}

</form>
{%endblock%}