li{
    list-style: none;
    color: white;

}

.each_list{
    margin-bottom: 4vw;
    display: inline-block;
    background: linear-gradient(245.81deg, #FB5F63 0.66%, rgba(255, 140, 142, 0.848958) 72.13%, rgba(255, 157, 159, 0.723958) 90%, rgba(255, 169, 171, 0.634775) 100.21%, rgba(255, 183, 185, 0.528979) 107.23%, rgba(255, 255, 255, 0) 123.18%, rgba(255, 255, 255, 0) 123.18%);
    box-shadow: -15px 15px 4px rgba(0, 0, 0, 0.40);
    border-radius: 20px;
    border: 0em;
    width: 80vw;
    height: 15vh;
}

.each_list_left{
    display: inline-flex;
    width: 40vw;
    font-style: normal;
    font-weight: normal;
    font-size: 7vw;
    line-height: 133.5%;
    /* or 33px */

    letter-spacing: 0.14em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    margin: 4vw;
    margin-left: 6vw;
}
.each_list_writer{
    display: inline-flex;
    width: 40vw;
    font-style: normal;
    font-weight: 300;
    font-size: 4vw;
    line-height: 133.5%;
    /* identical to box height, or 24px */

    letter-spacing: 0.14em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 4vw;
    margin-top: 2vw;
}

.each_list_right{
    display: flex;
    width: 20vw;
    height: 15vh;
   
}
.button{    
    width: 20vw;
    height: 15vh;
    font-style: normal;
    font-weight: 300;
    font-size: 4vw;
    line-height: 133.5%;
    /* identical to box height, or 24px */
    color: indianred;
    letter-spacing: 0.14em;
    border:0em;
    border-radius: 0px 13px 13px 0px;
    height: 3.5rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    margin-top: 5vw;
    opacity: 90%;
}

.add_btn{
    background-color: white;
}



/* 드롭다운 구현 */

::-webkit-scrollbar {
  width: 0.5rem; /* 세로축 스크롤바 길이 */
  /* height: 1rem; 가로축 스크롤바 길이 */
    left:-1rem;
}
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
      border-radius: 0.4rem;

  /* background-color: #ffffff; */
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #aaa;
      border-radius: 0.4rem;

}



