{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">


{% endblock %}
{% block content %}

<div id="login_container">
   
        <p class='page_title'> 로그인</p>
   
    <div class="login_form">
        <form method="POST" action="{% url 'login' %}">
            
                {% csrf_token %}
                {{ form.as_p }}
   
            <div class="pink"><input type="submit" value="LOGIN" class='btn_pink'></div>
        </form>
    
    <div class="signin"> <a  href="{% url 'signup' %}">회원가입 </a>/ <a href=""> 비밀번호 찾기 </a></div>
    </div>
</div>
{% endblock %}