
@font-face { font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff'); 
    font-weight: normal;
    font-style: normal; }
* { 
    overflow: hidden;
    margin: 0em;
    font-family: 'NEXON Lv1 Gothic OTF Light';
}
/* 혜원 코드입니다 .*/
html{
    background: #0D4294;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
a{ color:rgb(255, 255, 255); text-decoration: none; }
a:hover { color: rgb(163, 163, 163); text-decoration: none;}

#login_container{
    width: 100vw;
    height: 100vh;
    background: url('../images/login.png');
    background-size: cover;
    background-position: center;
    margin: 0em;
    text-align: center;
    align-items: center;
}
#index_container{
    width: 100vw;
    height: 100vh;
    background: url('../images/main.png');
    background-size: cover;
    background-position: center;
    margin: 0em;
    text-align: center;
    align-items: center;
}
#subscribe_container{
    width: 100vw;
    height: 100vh;
    background: url('../images/subscribe.png');
    background-size: cover;
    background-position: center;
    margin: 0em;
    text-align: center;
    align-items: center;
    
}
.login_form{
display: inline;
   align-items: center;
}

.pink{
    margin: 3%;
    display: inline-block;
    width: 80vw;
    height: 8vh;
    box-shadow: -15px 15px 4px rgba(0, 0, 0, 0.25);
}
.btn_pink{
   
    width: 100%;
    height: 100%;
    background: #FF777A;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    letter-spacing: 1vw;
    line-height: 28px;
    /* identical to box height */
    color: #FFFFFF;
    border: 0em
}

.signin{
    margin: 3%;
    font-weight: lighter;
    font-size: 2.5vw;
    line-height: 14px;
    letter-spacing: 5px;
    color: #FFFAEF;
}

.btn_orange{
    width: 368px;
    height: 141px;
    background: linear-gradient(122.58deg, rgba(255, 172, 140, 0.848958) 38.25%, rgba(255, 140, 142, 0) 103.43%);
    border-radius: 70px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 133.5%;
    /* identical to box height, or 32px */

    letter-spacing: 0.14em;

    color: #FFFFFF;
}

.page_title{

    padding: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 10vw;
    line-height: 133.5%;
    /* identical to box height, or 48px */

    letter-spacing: 0.14em;

    color: #FFFFFF;

    text-shadow: -15px 15px 4px rgba(0, 0, 0, 0.25);
}

.subscribe_btn{
    background: linear-gradient(245.81deg, #FB5F63 0.66%, rgba(255, 140, 142, 0.848958) 72.13%, rgba(255, 157, 159, 0.723958) 90%, rgba(255, 169, 171, 0.634775) 100.21%, rgba(255, 183, 185, 0.528979) 107.23%, rgba(255, 255, 255, 0) 123.18%, rgba(255, 255, 255, 0) 123.18%);
    box-shadow: -15px 15px 4px rgba(0, 0, 0, 0.40);
    border-radius: 20px;
    width: 380px;
    height: 141px;
}
.subscribepage_title{
    padding: 10%;
    padding-bottom: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 9vw;
    line-height: 133.5%;
    /* identical to box height, or 48px */

    letter-spacing: 0.14em;

    color: #FFFFFF;

    text-shadow: -15px 15px 4px rgba(0, 0, 0, 0.80);
}

#subscribe_butitle{
    margin-bottom: 5vh;
    font-size: 3vw;
    line-height: 133.5%;
    /* identical to box height, or 48px */

    letter-spacing: 1vw;

    color: #FFFFFF;

    text-shadow: -15px 15px 4px rgba(0, 0, 0, 0.25);

}
/*구독페이지*/
.subscribe_title{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 133.5%;
    /* or 33px */

    letter-spacing: 0.14em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.60);
}

.writer{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 133.5%;
    /* identical to box height, or 24px */

    letter-spacing: 0.14em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.btn_darkblue{
    display: inline-block;
    width: 30vw;
    height: 10vw;
    border: grey 1px solid;
    background: #0A295D;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: normal;
    font-size: 8vw;
    text-align: center;
    line-height: 133.5%;
    /* identical to box height, or 32px */   
    letter-spacing: 0.14em;    
    color: #FFFFFF;
}




.input_class{
    margin: 3%;
    width: 80vw;
    height: 8vh;
    display: inline-block;
    background: #D8E7FF;
    border-radius: 10px;
    border: 0ch;
    font-size: 4vw;
    text-align: left;
   }
   input:focus{ 
       border: none;
   }