{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block content %}
<div id="login_container">
    <p class='page_title'> 회원가입</p>

    <div class="login_form">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ RegisterForm.as_p }}
            <div class="pink"><input type="submit" value="다음" class="btn_pink"></div>
        </form>
    </div>
</div>
{% endblock %}